* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Tanker-Regular";
  src: url("./fonts/Tanker-Regular.woff2") format("woff2"),
    url("./fonts/Tanker-Regular.woff") format("woff"),
    url("./fonts/Tanker-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

body {
  font-family: sans-serif;
  width: 1200px;
  height: 630px;
  overflow: hidden;
  position: relative;
}

h1 {
  color: #fff;
  font-size: 8em;
  line-height: 0.88em;
  font-family: "Tanker-Regular";
  letter-spacing: 0.01em;
}
p {
  margin-top: 20px;
}

img {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}

div {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
}
